SDL/*
build/*
*.png
*.ppm
.vscode/*
project/build/*
project/.vscode/*
project/bin/*
project/obj/*
project/.idea/*
*.out

projectSDL/build/*
projectSDL/.vscode/*
projectSDL/bin/*
projectSDL/obj/*
projectSDL/.idea/*

